<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello HTML Demo</title>
</head>

<body>
    {% if name %}
    <h1>Hello {{ name }}</h1>
    {% else %}
    <h1>Hello World!</h1>
    {% endif %}

    <h3>List of Products:</h3>
    <ul>
        {% for product in products %}
        <li>{{ product.title }}</li>
        <li>{{ product.unit_price }}</li>
        <li>{{ product.last_update }}</li>
        {% endfor %}
    </ul>

</body>

</html>